<form name="form1">
    <div class="container" ng-init="getallStock();">            
        <p>
            <strong>Search By Any:</strong>
            <input type="text" id="txtAny" ng-model="searchAny" placeholder="Search by any field" />
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="cursor:pointer" ng-click="predicate='ProductId';reverse=!reverse"> Product Id </th>
                    <th style="cursor:pointer" ng-click="predicate='StockQuantity';reverse=!reverse"> StockQuantity </th>
                    <th style="cursor:pointer" ng-click="predicate='ReorderLevel';reverse=!reverse"> ReorderLevel </th>
                    <th style="cursor:pointer" ng-click="predicate='SalePrice';reverse=!reverse"> SalePrice </th>
                    
                </tr>
            </thead>
            <tbody dir-paginate="sto in stocks|filter:search|filter:searchAny|orderBy:predicate:reverse|itemsPerPage:3">
                <tr>
                    <td>{{sto.ProductId}}</td>
                    <td>{{sto.StockQuantity}}</td>
                    <td>{{sto.ReorderLevel}}</td>
                    <td>{{sto.SalePrice}}</td>

                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tfoot>
        </table>
        <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true"></dir-pagination-controls>
    </div>
</form>