<form name="form1">
    <div class="container" ng-init="getallDosageFormat();">
        <br />
        <br />
        <div class="text-center">
            <button type="button" class="btn btn-group-sm" data-toggle="modal" data-target="#myModal">
                Add Generic Name
            </button>
        </div>

        <br />
        <br />
        <div class="text-center">


            <strong class="glyphicon glyphicon-search" style="font-size:30px;">: </strong>
            <input type="text" id="txtAny" ng-model="searchAny" placeholder="Search by any field" style="background-color:#0abda1;font-size:25px;" />
        </div>
        <div style="margin:20px 200px 0px 200px;">
            <table class="table table-bordered  table-striped">
                <thead>
                    <tr style="background-color:#19fca9;color:white;">
                        <th style="cursor:pointer;font-size:20px;" ng-click="predicate='DosageFormatId';reverse=!reverse">Dosage Id</th>
                        <th style="cursor:pointer;font-size:20px;" ng-click="predicate='DosageFormatName';reverse=!reverse">Dosage Format Name</th>
                        <th>...</th>
                    </tr>
                </thead>
                <tbody dir-paginate="dof in dosageFormats|filter:search|filter:searchAny|orderBy:predicate:reverse|itemsPerPage:3">
                    <tr >
                        <td class="col-md-2">{{dof.DosageFormatId}}</td>
                        <td class="col-md-7">{{dof.DosageFormatName}}</td>
                        <td class="col-md-3">
                            <button type="button" class="btn btn-success glyphicon glyphicon-edit" data-toggle="modal" ng-click="searchDosageFormat();" data-target="#myModalEdit">Edit</button>
                            <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteDosageFormat();">Delete</button>
                        </td>
                    </tr>
                </tbody>              
            </table>
        </div>
        <div class="text-center">
            <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true"></dir-pagination-controls>
        </div>
        <!--Use of Modal(Pop up Dialogue box) for Add New Data-->
        <!---------------------------------- modal for Add ---------------------------------->
        <div class="modal fade" tabindex="-1" id="myModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Save Dosage Format</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <!-------------------------- Name(Add)  ------------------------->
                            <div class="form-group" ng-class="{'has-error':form1.DosageFormatName.$invalid &&
                                 form1.DosageFormatName.$dirty}">
                                <label for="input2" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input2" name="DosageFormatName" ng-model="dosage.DosageFormatName" placeholder="Dosage Format Name" ng-maxlength="20" ng-minlength="2" required>
                                    <span class="help-block has-error">
                                        <span ng-show="form1.DosageFormatName.$error.required">Please Type Dosage Name </span>
                                        <span ng-show="form1.DosageFormatName.$error.minlength">Dosage name is must be atleast 2 charecters in length</span>
                                        <span ng-show="form1.DosageFormatName.$error.maxlength">Dosage name is can not exceed 20 charecters in length</span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-dismiss="modal">Close</button>
                        <button type="button"class="btn btn-success glyphicon glyphicon-save" ng-click="saveDosageFormat();" ng-disabled="form1.$invalid">Save</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!--Modal for edit-->
        <!---------------------------------- modal for edit ---------------------------------->
        <div class="modal fade" tabindex="-1" id="myModalEdit" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <!--<p>One fine body&hellip;</p>-->
                        <div class="form-horizontal">
                            <!-------------------------- Name(Edit)  ------------------------->

                            <!--<div class="form-group">
                                <label for="input1" class="col-sm-2 control-label">Id</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input1" ng-model="dosage.DosageFormatId" placeholder="Dosage Format Id" readonly>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label for="input2" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="input2" ng-model="dosage.DosageFormatName" placeholder="Dosage Format Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger glyphicon glyphicon-trash" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success glyphicon glyphicon-upload" data-dismiss="modal" ng-click="updateDosageFormat();">Update</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>


    </div>
</form>